a {
    margin : 50px;
}
h2{
  width:100%;
  border-bottom:2px solid #CCC;
  border-right:2px solid #CCC;
}
.date{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
}
.demo-table {
  width: 80%;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  }

  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  .mat-cell{
    padding: 10px;
    }
